:root {
  /* COLOR */
  --clr-primary: 183 100% 15%;
  --clr-secondary: 186 14% 43%;
  --clr-tertiary: 184 14% 56%;

  --clr-cyan-light: 189 41% 97%;
  --clr-bg: 185 41% 84%;

  --clr-accent: 172 67% 45%;
  --clr-error: 13 44% 58%;
  --clr-white: 0 0 100%;

  /* FONT FAMILY */
  --ff-space-mono: "Space Mono", monospace;

  /* FONT WEIGHT */
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
  outline: transparent;
  background: none;
  border: none;
}

fieldset {
  border: none;
  padding: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* BODY */

body {
  font-family: var(--ff-space-mono);
  font-weight: var(--fw-bold);
  background: hsl(var(--clr-bg));
}

.logo-wrapper {
  margin-top: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin-top: 2.5rem;
  background: hsl(var(--clr-white));
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 1.5rem;
}

.form {
  padding: 0.5rem;
}

.form-group:nth-child(2) {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

label,
legend {
  color: hsl(var(--clr-secondary));
}

legend {
  margin-bottom: 1rem;
}

label:has(input[type="radio"]) {
  font-size: 1.5rem;
}

.field {
  display: flex;
  align-items: center;
  background: hsl(var(--clr-cyan-light));
  padding-inline-start: 1.0625rem;
  border-radius: 0.375rem;
  margin-top: 0.375rem;
}

.form-control {
  width: 100%;
  font-size: 1.5rem;
  text-align: right;
  color: hsl(var(--clr-primary));
  padding: 0.375rem;
  padding-inline-end: 1.0625rem;
}
