:root {
  /* COLOR */
  --clr-primary: 183 100% 15%;
  --clr-secondary: 186 14% 43%;
  --clr-tertiary: 184 14% 56%;

  --clr-cyan-light: 189 41% 97%;
  --clr-bg: 185 41% 84%;

  --clr-accent: 172 67% 45%;
  --clr-error: 13 44% 58%;
  --clr-white: 0 0 100%;

  /* FONT FAMILY */
  --ff-space-mono: "Space Mono", monospace;

  /* FONT WEIGHT */
  --fw-bold: 700;
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
  outline: transparent;
  background: none;
  border: none;
}

button {
  padding: 0;
  cursor: pointer;
}

/* UTILITIES */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
